/* RESPONSIVO */

@media(max-width:900px) {

  .about {
    grid-template-columns:1fr;
  }

  .hero h1 {
    font-size:2.8rem;
  }

  .hero p {
    font-size:1rem;
  }

  .nav-links {
    position:absolute;
    top:85px;
    right:-100%;
    width:100%;
    background:#071f24;
    flex-direction:column;
    align-items:center;
    padding:40px 0;
    transition:0.4s;
  }

  .nav-links.active {
    right:0;
  }

  .menu-btn {
    display:flex;
  }
}

@media(max-width:600px) {

  .hero h1 {
    font-size:2.2rem;
  }

  .section-title h2 {
    font-size:2rem;
  }

  .quote h2 {
    font-size:2rem;
  }

  .quote p {
    font-size:1.1rem;
  }
}